body{
    background-color: #ecf0f3;
    text-align: center;
}

.container{
    margin-left: 1000px;
    margin-top: 100px;
    position: relative;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    box-shadow:  6px 6px 6px red, -6px -6px 6px blue;
}

.brand-title{
    font-weight: 900;
    font-size: 40px;
    color: red;
    letter-spacing: 1px;
    padding: 30px
}

.inputs{
    margin-top: 0px;
}

label, input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
}

input{
    width: 330px;
    background-color: #ecf0f3;
    height: 50px;
    font-size: 14px;
    box-shadow: 6px 6px 6px red, -6px -6px 6px blue;
}

button, a{
    text-decoration: none;
    color: white;
    background-color: green;
    width: 100px;
    height:50px ;
    font-weight: 90;
    cursor: pointer;
    font-size: 25px;
}

img{
    background-color: black;
    width: 650px;
    margin-top: -500px;
    margin-left: -450px;
    height: 400px;
}